*.class
manifest.txt
article_index.py
target/*
ARI_search-1.0-SNAPSHOT.jar
dependency-reduced-pom.xml
.vscode/
ps*
.vscode/
result/intersection.csv
article_index.ser
test.csv
NYT_00192012.CSV
NYT_00192015.CSV.text
article_index.ser.50
article_index.ser.no_limit
article_index.ser.2.50
article_index.ser.2.no_limit
article_index.ser.10.50
results.csv
